@media (max-width: 540px) {
  header {
    position: static;
    width: 100%;
    padding: 20px;
  }
}
/* Общий стиль */
body {
  margin: 0;
  background: #f3f6fb;
  font-family: Arial, sans-serif;
  color: #333;
}

/* Шапка */
.header {
  background: #0d2c54;
  color: white;
  padding: 28px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.logo {
  font-size: 45px;
  font-weight: bold;
  font-size: 25px;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.nav a.active,
.nav a:hover {
  opacity: 1;
  text-decoration: underline;
}

table, th, td { 
    border: 1px solid black; 
}